{% extends "dashboard/base/admin_base.html" %}
{% block title %}Edit About Section{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit About Section</h2>


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="index_image" class="form-label">Main Image</label><br>
            {% if about.index_image %}
                <img src="{{ about.index_image.url }}" alt="Current Image" style="max-height: 150px;" class="mb-2"><br>
            {% endif %}
            <input type="file" class="form-control" name="index_image" id="index_image">
        </div>

        <div class="mb-3">
            <label for="sub_image" class="form-label">Sub Image</label><br>
            {% if about.sub_image %}
                <img src="{{ about.sub_image.url }}" alt="Current Image" style="max-height: 150px;" class="mb-2"><br>
            {% endif %}
            <input type="file" class="form-control" name="sub_image" id="sub_image">
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ about.title }}" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="description" rows="4" required>{{ about.description }}</textarea>
        </div>

       <a href="{% url 'ad_viewabout' %}" class="btn btn-primary">Update</a>

    </form>
</div>
{% endblock %}
